# how to initialize and update submodules
# https://stackoverflow.com/q/5828324/1004587
# git submodule update --init
# git submodule update --remote
# git commit -am 'update submodule to the latest version'
# git push origin BRANCH

# Get the submodule initially
# git submodule add https://github.com/user/repo submodule_dir
# git submodule init
